.month-switcher {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 5px;
  width: 300px;
}
.month-switcher__btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: border .2s;
}
.month-switcher__btn:hover{
  border: 2px solid var(--teamHeader-bg);
  background-color: var(--teamHeader-bg);
}
.fas {
  font-size: 12px;
  padding: 5px;
}
.month-switcher__month {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 25px 0px;
  padding: 0 40px;
}
