.modal-content {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 200ms ease-in;
}

.modal-wrapper--hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    min-height: 375px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.modal__header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

.modal__title {
    font-weight: bold;
    margin-left: 30px;
}

.modal__subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal__form {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.modal__input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    margin-bottom: 30px;
}

.modal__input-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
}

.modal__input {
    border: none;
    border-bottom: 1px solid #D0D0D0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    transition: 150ms ease-in;
}

.modal__input:focus {
    border-color: black;
    outline: none;
}

.modal__select {
    padding: 12px 15px 11px 15px;
    border: none;
    font-size: 12px;
    line-height: 1.2;
    background-color: #E9E9E9;
    border-radius: 3px;
    border-right: 15px solid #E9E9E9;
}

.modal__select:focus {
    outline: none;
}

.modal__buttons {
    margin-top: 55px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px 30px 0px 30px;
    border-top: 1px solid #D0D0D0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

.modal__close {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 42px;
    border: none;
    border: 1px solid #D0D0D0;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.modal__close:focus {
    outline: none;
}

.modal__send {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    height: 42px;
    border: none;
    border: 1px solid #48BA46;
    background-color: #48BA46;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

.modal__send:focus {
    outline: none;
}

.modal--loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal__loader {
    position: relative;
    font-size: 150px;
    line-height: 1;
    color: rgb(77, 77, 77);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    width: 130px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    animation: 0.5s ease-in infinite modalLoader;
    transform-origin: center center;
}

.modal__loader--error {
    background-color: red;
    border-radius: 50%;
    color: white;
    animation: none;
    transform: rotate(45deg);
}

@keyframes modalLoader {
    0% {
        transform: rotate(0px);
    }
    80% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.modal__message {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal__description-text {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.button-inner {
    /* width: 144px; */
    height: 40px;
    border-radius: 7px;
    background-color: #48BA46;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    transition: all linear 0.2s;
}