td {
    width: 33px;
    height: 50px;
    border: 1px solid black;
    border-bottom: 0px;
    margin: 0px;
    text-align: center;
}

td p {
    padding: 0px;
    margin: 0px;
}

.button-wrap {
    /* width: 200px; */
    margin: 0 auto;
}

.button-inner {
    width: 144px;
    height: 40px;
    border-radius: 7px;
    background-color: #48BA46;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    transition: all linear 0.2s;
}

.weekend {
    background-color: lightgray;
}