table {
    border-collapse: collapse;
    margin: 0 auto;
}

table thead tr td {
    width: 33px;
    height: 50px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
}

tbody {
    margin-top: 20px;
}


/* td {
    width: 33px;
    height: 50px;
    border: 1px solid black;
    margin: 0px;
    text-align: center;
} */

td p {
    padding: 0px;
    margin: 0px;
}

.button-wrap {
    /* width: 200px; */
    margin: 0 auto;
}

.button-inner {
    width: 144px;
    height: 40px;
    border-radius: 7px;
    background-color: #48BA46;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    transition: all linear 0.2s;
}

.weekend {
    background-color: lightgray;
}

.team__head,
.team__member {
    border: 1px solid #000;
}

.team__head .team__title {
    width: 100%;
    display: flex;
}

.team__head .team__title p {
    display: block;
}

.team__body {
    width: 100%;
}

.team-member {
    width: 100%;
    display: flex;
}

.team__day,
.team__member-day,
.sum-column {
    width: 34px;
    height: 34px;
    border: 1px solid #000;
}

.footer {
    margin-top: 37px;
}

.footer__name {
    border: 1px solid black;
}

.footer__text {
    display: flex;
}

.footer__title {
    border-bottom: 1px solid black;
}

.team {
    margin-bottom: 37px;
}