/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
:root {
  --front-color: #9b99ff;
  --designer-color: #7aafff;
  --backend-color: #ff9999;
  --manager-color: #ffa768;
  --main-row: #F3F3F3;
  --teamHeader-bg: rgba(155, 153, 255, 0.1);
  --btn-bg: #48BA46;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


body {
font-family: "Open Sans", sans-serif;
font-size: 16px;
}

#app-root {
width: 100vw;
min-height: 100vh;
}

table {
border-collapse: collapse;
}

td {
border: 1px solid #D7D7D7;
}

button {
cursor: pointer;
display: inline-block;
border: none;
outline: none;
transition: opacity .2s;
}
button:hover{
  opacity: .8;
}

input{
display: block;
width: 100%;
outline: none;
}

.container {
max-width: 1345px;
padding: 15px;
margin: 0 auto;
overflow: hidden;
}

.weekend {
background: #F0F0F0;
}